In [1]:
import sqlite3

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

In [2]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')
cur = conn.cursor()

In [3]:
# Every sqlite database has an sqlite_master table with data about the schema

In [4]:
# How many tables are in the database?

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())

[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]

In [22]:
# We can use the PRAGMA command to find more information about each table
# From the output below, figure out how to identify the primary key of a table?
cur.execute("PRAGMA table_info(Album)")
info = cur.fetchall()
print(*info, sep = "\n")

(0, 'AlbumId', 'INTEGER', 1, None, 1)
(1, 'Title', 'NVARCHAR(160)', 1, None, 0)
(2, 'ArtistId', 'INTEGER', 1, None, 0)

In [23]:
# What foreign keys join the tables together?
cur.execute("PRAGMA foreign_key_list(Customer)")
info = cur.fetchall()
print(*info, sep = "\n") 
# your code here
# hint: use "PRAGMA foreign_key_list()"

(0, 0, 'Employee', 'SupportRepId', 'EmployeeId', 'NO ACTION', 'NO ACTION', 'NONE')

Thank you https://github.com/LucasMcL/15-sql_queries_02-chinook
    for these questions

In [25]:
# Provide a query showing Customers (just their full names, customer ID and country) who are not in the US.
cur.execute("""
 
""")
print(cur.fetchall())

[]

In [26]:
# Provide a query only showing the Customers from Brazil.

cur.execute("""


""")
print(cur.fetchall())

[]

In [27]:
# Provide a query showing the Invoices of customers who are from Brazil. The resultant table should show the customer's full name, Invoice ID, Date of the invoice and billing country.
cur.execute("""
     

""")
print(cur.fetchall())

[]

In [28]:
# Provide a query showing only the Employees who are Sales Agents.
cur.execute('''

'''
)
print(cur.fetchall())

[]

In [30]:
cur.execute('''

'''
)
info = cur.fetchall()
print(*info, sep = "\n")

In [12]:
# Provide a query showing a unique list of billing countries from the Invoice table.
cur.execute('''

    '''
)
info = cur.fetchall()
print(*info, sep = "\n")

(24,)

In [24]:
# Provide a query that shows the invoices associated with each sales agent. The resultant table should include the Sales Agent's full name.
cur.execute('''

    '''
)
info = cur.fetchall()
print(*info, sep = "\n")